/* 
    Document   : layout
    Created on : Oct 2, 2013, 6:18:01 PM
    Author     : DibaW
    Description:
        Purpose of the stylesheet follows.
*/

#menu{
    height: 100px;
}
#content{
    
}
